.header-text {
    font-size: 75px;
    text-decoration-color: #fff;
    text-emphasis: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }
   /* sets header properties */
  header {
    background: radial-gradient(grey,black);
    font-family: "Joti One", cursive, Helvetica;
    font-size: 32px;
    text-align: center;
    width: 100vw;
    height: 40vh;
    padding:0;
    margin:0;
  }
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }