header {
    background: radial-gradient(circle at top center, #e6e617, #176ce3);
    color: blue;
    font-family: "Joti One", cursive, Helvetica;
    font-size: 32px;
    text-align: center;
    width: 100vw;
    height: 40vh;
    padding:0;
    margin:0;
  }
  a:visited {
    color:black;
  }
  a {
    color:black;
  }